.header-scrolled {
  background-color: #153c66;
  box-shadow: 0 3px 10px rgba(21, 60, 102, 0.1);
}

.header {
  width: 100vw;
  background-color: none;
  position: fixed;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: all 0.3s;
}
.header .logo {
  margin-left: 30px;
  text-decoration: none;
  font-family: "Anek Malayalam", sans-serif;
  color: #E1F2FE;
  font-weight: 600;
  font-size: 2.3rem;
}
.header .nav ul {
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-bottom: 0;
  align-items: center;
  gap: 30px;
}
.header .nav ul .link-head {
  text-decoration: none;
  font-family: "Anuphan", sans-serif;
  color: #E1F2FE;
  font-weight: 400;
  font-size: 1.2em;
}
.header .nav ul .contacto {
  text-decoration: none;
  font-family: "Anuphan", sans-serif;
  color: #E1F2FE;
  font-weight: 450;
  font-size: 1.25rem;
  padding: 0.4rem 0.7rem;
  border-radius: 67px;
  border-radius: 20px;
  background: #153c66;
  box-shadow: 8px 8px 16px #13355b, -8px -8px 16px #174371;
}

.first_sect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 30px 0px;
  height: 100%;
  background: rgb(18, 148, 204);
  background: radial-gradient(circle, rgb(18, 148, 204) 20%, rgb(21, 60, 102) 80%);
}
.first_sect .first_part .h1_title {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  padding-top: 5vh;
  color: #E1F2FE;
}
.first_sect .first_part .typing {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: #E1F2FE;
  margin-bottom: 60px;
}
.first_sect .first_part .boton_middle {
  text-decoration: none;
  font-family: "Anuphan", sans-serif;
  color: #f5f5f7;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.8rem 1.1rem;
  border-radius: 67px;
  background: #1294cc;
  box-shadow: 5px 5px 28px #e1e1e3, -5px -5px 28px #ffffff;
}
.first_sect .imagen_gr {
  width: 60%;
  height: auto;
}

.main_sections, .section_about {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  height: 100vh;
}
.main_sections .h2_title, .section_about .h2_title {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #153c66;
  padding-bottom: 70px;
  padding-left: 30px !important;
}
.main_sections .about, .section_about .about {
  padding-right: 55px;
  padding-left: 30px;
  font-family: "Anuphan", sans-serif;
  color: #2f2e41;
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 10rem;
}

.footer {
  background-color: #153c66;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
}
.footer .footer_info .h2_footer {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #E1F2FE;
  padding-bottom: 10px;
}
.footer .footer_info .p__footer {
  font-family: "Anuphan", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #E1F2FE;
  padding-bottom: 10px;
}
.footer .iconos_footer {
  align-self: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .iconos_footer .icon_footer {
  padding: 1.2rem;
  border-radius: 50%;
  border-radius: 50%;
  background: #153c66;
  box-shadow: inset 5px 5px 7px #13365c, inset -5px -5px 7px #174270;
  align-self: center;
  color: #E1F2FE;
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.section {
  width: 100%;
  height: 100%;
  height: 100vh;
  transition: all 1s;
}

.wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  padding-top: 3rem;
  align-self: center;
}
.wrapper .card {
  display: flex;
  flex-direction: column;
  width: 25vw;
  border-radius: 50px;
  background: #E1F2FE;
  box-shadow: 10px 10px 20px #c6d5e0, -10px -10px 20px #fcffff;
  padding: 2rem;
}
.wrapper .card .icons {
  padding: 1.2rem;
  border-radius: 50%;
  border-radius: 50%;
  background: #e1f2fe;
  box-shadow: inset 5px 5px 7px #cbdae5, inset -5px -5px 7px #f8ffff;
  align-self: center;
  color: #153c66;
  font-size: 2rem;
  margin-bottom: 1.7rem;
}
.wrapper .card .h3_cards {
  font-family: "Anuphan", sans-serif;
  color: #153c66;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.wrapper .card .p_card {
  font-family: "Anuphan", sans-serif;
  color: #153c66;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .logo {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .header .nav ul {
    padding: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 992px) and (orientation: portrait) {
  .header .nav {
    margin-right: 0px !important;
  }
  .first_sect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 20px;
    width: 100vw !important;
    padding-right: 20px;
    box-sizing: content-box;
  }
  .first_sect .h1_title {
    font-size: 13.5vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 0;
    width: 100%;
    padding: none;
  }
  .first_sect .typing {
    font-size: 13.5vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
  }
  .first_sect .imagen_gr {
    display: none;
  }
  .list_item {
    margin-left: 0 !important;
  }
  .contacto {
    font-size: 2rem;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
  }
  .card {
    width: 75% !important;
  }
  .section {
    height: 110vh;
  }
  .main_sections {
    padding: 2rem 0;
    height: 140vh;
  }
  .section_about {
    height: 120vh;
  }
  .h2_title {
    padding-top: 2rem;
  }
  .about {
    font-weight: 300;
    font-size: 1.8rem !important;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .header .nav {
    margin-right: 0px !important;
  }
  .section {
    height: 180vh;
  }
  .card {
    height: 80vh !important;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0 2rem;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
  }
  .first_sect .h1_title {
    font-size: 6vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .first_sect .typing {
    font-size: 6vw !important;
  }
  .first_sect .imagen_gr {
    display: none;
  }
  .h2_title {
    padding-bottom: 20px;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
  }
  .wrapper .card {
    width: 80%;
    height: 40% !important;
  }
  .main_sections {
    height: 230vh;
  }
  .section_about {
    height: 130vh;
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  .main_sections {
    height: 280vh;
  }
  .section_about {
    height: 150vh;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .main_sections {
    height: 300vh;
  }
  .section_about {
    height: 170vh;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1300px) and (orientation: landscape) {
  .main_sections {
    height: 70vh;
  }
  .section_about {
    height: 50vh;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .main_sections {
    height: 90vh;
  }
  .section_about {
    height: 70vh;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1300px) and (min-width: 800px) and (orientation: portrait) {
  .main_sections {
    height: 80vh;
  }
  .section_about {
    height: 50vh;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
    padding: 2rem;
  }
  .first_sect .h1_title {
    font-size: 10vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 0;
    width: 100%;
    padding: none;
  }
  .first_sect .typing {
    font-size: 10vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 770px) and (orientation: portrait) {
  .main_sections {
    height: 100vh;
  }
  .section_about {
    height: 70vh;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
    padding: 2rem;
  }
  .first_sect .h1_title {
    font-size: 10vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 0;
    width: 100%;
    padding: none;
  }
  .first_sect .typing {
    font-size: 10vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .main_sections {
    height: 150vh;
  }
  .section_about {
    height: 130vh;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
    padding: 2rem;
  }
  .first_sect .h1_title {
    font-size: 12vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 0;
    width: 100%;
    padding: none;
  }
  .first_sect .typing {
    font-size: 12vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
  }
  .first_sect .h2_title {
    font-size: 1.7rem;
  }
  .first_sect .about {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .main_sections {
    height: 300vh;
  }
  .section_about {
    height: 160vh;
  }
}
body {
  background: #E1F2FE;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
