// bases

@import './bases/variables';


// componentes

@import './components/basic';
@import './components/carousel';
@import './components/mediaq';

body {
    background: $azul-claro;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}
