// colores

$azul-oscuro: #153c66;
$azul-claro: #E1F2FE;
$azul-medio: #1294cc;
$blanco: #f5f5f7;
$negro: #1d1d1f;

// fonts

// font-family: 'Anek Malayalam', sans-serif; -- titulo
// font-family: 'Anuphan', sans-serif; -- texto