.header-scrolled {
    background-color: rgba($color: $azul-oscuro, $alpha: 1.0);
    box-shadow: 0 3px 10px rgba($color: $azul-oscuro, $alpha: 0.1);
}

.header {
    
    width: 100%;
    background-color: none;
    position: fixed;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: all 0.3s;

    .logo {
        margin-left: 30px;
        text-decoration: none;
        font-family: 'Anek Malayalam', sans-serif;
        color: $azul-medio;
        font-weight: 600;
        font-size: 2.3rem;  
    }
}

.first_sect {
    padding-top: 70px;
}