.wrapper {
    width: 100%;
}

.features {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapper .carousel {
   max-width: 1200px; 
   margin: auto;
}

.carousel .card {
  text-align: center;
  color: $blanco;
  border-radius: 45px;
    background: #f5f5f7;
    box-shadow:  12px 12px 24px #d0d0d2,
             -12px -12px 24px #ffffff;
  padding: 0 2rem 2rem 2rem;
  height: 50vh;
  border: none !important;

  @media screen and (max-width: 992px) and (orientation: landscape) {
    height: 70vh;
  }
}

.card {
    margin: 30px;
}